<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            @if (!patientSelected()) {
                <div class="form-floating">
                    <div class="input-group">
                        <input class="form-control" type="text" [formField]="searchForm.query"
                            placeholder="Search by patient name." />
                        <button class="btn btn-outline btn-primary" type="button" (click)="searchPatients()"
                            [disabled]="searchModel().query === ''">
                            @if (!patientSearching()) {
                                <span class="bi bi-search"></span>
                            } @else {
                                <span class="bi bi-hourglass-split"></span>
                            }
                            Search
                        </button>
                    </div>
                </div>
            }

            @if (!patientSelected() && patientList(); as list) {
                <div class="mt-4">
                    @if (list.total !== undefined && list.total > 0 && list.entry) {
                        <table class="table table-sm table-condensed">
                            <tbody>
                                @for (p of list.entry; track p.resource?.id ?? $index) {
                                    <tr>
                                        <td>
                                            @for (n of p.resource?.name; track $index) {
                                                <span>
                                                    {{ n.family || '(Unknown)' }},
                                                    @for (g of n.given; track $index) {
                                                        <span>{{ g }} </span>
                                                    }
                                                </span>
                                            }
                                            <br>
                                            <small class="text-secondary">
                                                {{ patientAge(p.resource?.birthDate) }}yo {{ p.resource?.gender }} born
                                                {{ p.resource?.birthDate | date }}
                                            </small>
                                        </td>
                                        <td>
                                            @if (p.resource) {
                                                <button class="btn btn-sm btn-primary"
                                                    (click)="selectPatientSubject(p.resource)">
                                                    <span class="bi-save"></span> Select
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    @if (list.total !== undefined && list.total < 1) {
                        <p>No matching patients found.</p>
                    }
                </div>
            }

            @if (patientSelected(); as patient) {
                <div class="form-floating">
                    @if (patient.name) {
                        <div class="input-group">
                            <input class="form-control" type="text" name="subject_patient_selected_name"
                                [value]="patient.name[0]!.given + ' ' + patient.name[0]!.family" disabled />
                            <button class="btn btn-outline btn-primary" (click)="removeSubject()">
                                <span class="bi bi-trash"></span> Clear
                            </button>
                        </div>
                    }
                </div>

                <section class="mt-1">
                    <span class="badge rounded-pill text-bg-primary me-1">{{ patient.gender }}</span>
                    <span class="badge rounded-pill text-bg-primary me-1">{{ patientAge(patient.birthDate) }}yo</span>
                    <span class="badge rounded-pill text-bg-primary me-1">{{ patient.birthDate | date }}</span>
                    @if (results()?.bmiValue; as bmiValue) {
                        <span class="badge rounded-pill text-bg-primary me-1">{{ bmiValue }} BMI</span>
                    }
                </section>
            }
        </div>

        <div class="col-sm-6">
            @if (patientSelected()) {
                <button class="btn btn-primary btn-lg" (click)="rerunCql()" [disabled]="runningCql()">
                    <span> Compute Recommendations &nbsp;</span>
                    @if (runningCql()) {
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="visually-hidden" role="status">Loading...</span>
                    } @else {
                        <span class="bi bi-cpu"></span>
                    }
                </button>
            }
        </div>
    </div>

    <div class="row mt-4">
        @if (results(); as r) {
            <div class="col-sm-6">
                <section>
                    @if (r.weightRelatedConditions.length === 0) {
                        <p class="text-secondary">No active weight-related conditions found.</p>
                    }
                    @if (r.weightRelatedConditions.length > 0) {
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <td>Active Weight-Related Conditions</td>
                                    <td>Onset</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (c of r.weightRelatedConditions; track $index) {
                                    <tr>
                                        <td>
                                            @if (c.code) {
                                                @for (code of c.code.coding; track $index) {
                                                    <span><b>{{ code.display }}</b></span>
                                                }
                                            } @else {
                                                <span>Unknown</span>
                                            }
                                        </td>
                                        <td>
                                            <b>{{ relativeTime(c.onsetDateTime) }}</b>
                                            <br>
                                            <small>{{ c.onsetDateTime | date }}</small>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </section>
            </div>

            <div class="col-sm-6">
                <section>
                    @if (r.hFpEFObservations.length === 0) {
                        <p class="text-secondary">No HFpEF history found.</p>
                    }
                    @if (r.hFpEFObservations.length > 0) {
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <td>HFpEF History</td>
                                    <td>Effective</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (c of r.hFpEFObservations; track $index) {
                                    <tr>
                                        <td>
                                            @if (c.code) {
                                                @for (code of c.code.coding; track $index) {
                                                    <span><b>{{ code.display }}</b></span>
                                                }
                                            } @else {
                                                <span>Unknown</span>
                                            }
                                        </td>
                                        <td>
                                            <b>{{ relativeTime(c.effectiveDateTime) }}</b>
                                            <br>
                                            <small>{{ c.effectiveDateTime | date }}</small>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </section>
            </div>

            <div class="col-sm-12 mt-4">
                <h4>
                    Guidelines
                    @if (r.patientName) {
                        <span>for {{ r.patientName }}</span>
                    }
                </h4>
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td rowspan="5" [class.table-info]="r.tier1"><b> Tier 1</b> Patients who may be most
                                harmed by delaying treatment</td>
                            <td [class.table-info]="r.tier1a">a.</td>
                            <td colspan="3" [class.table-info]="r.tier1a">Patients with a <b>life-threatening
                                    weight-related condition</b> or experiencing
                                treatment delay for a life-threatening condition due to excess weight for whom treatment
                                delay would likely increase mortality risk within the next year</td>
                        </tr>
                        <tr>
                            <td rowspan="4" [class.table-info]="r.tier1b">b.</td>
                            <td rowspan="4" [class.table-info]="r.tier1b">Patients without diabetes who are > 45yrs
                                old with established cardiovascular disease</td>
                            <td rowspan="4" class="text-nowrap" [class.table-info]="r.tier1b">and BMI</td>
                            <td class="text-nowrap" [class.table-info]="r.tier1bi">i. > 40 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap" [class.table-info]="r.tier1bii">ii. 35-39.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap" [class.table-info]="r.tier1biii">iii. 30-34.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap" [class.table-info]="r.tier1biv">iv. 27-29.9 kg/m<sup>2</sup></td>
                        </tr>

                        <tr>
                            <td rowspan="12" [class.table-info]="r.tier2">
                                <b>Tier 2</b> Patients likely to experience short-term benefit from weight reduction based
                                on the presence of weight-related conditions
                            </td>
                            <td rowspan="4" [class.table-info]="r.tier2a"> a.</td>
                            <td rowspan="4" [class.table-info]="r.tier2a">Patients with at least <b>three
                                    weight-related conditions OR Heart Failure with
                                    Preserved Ejection Fraction (HFpEF)</b></td>
                            <td rowspan="4" [class.table-info]="r.tier2a">and BMI</td>
                            <td [class.table-info]="r.tier2ai">i. > 40 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2aii">ii. 35-39.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2aiii"> iii. 30-34.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2aiv"> iv. 27-29.9 kg/m<sup>2</sup></td>
                        </tr>

                        <tr>
                            <td rowspan="4" [class.table-info]="r.tier2b">b.</td>
                            <td rowspan="4" [class.table-info]="r.tier2b">Patients with at least <b>two
                                    weight-related conditions</b></td>
                            <td rowspan="4" [class.table-info]="r.tier2b">and BMI</td>
                            <td [class.table-info]="r.tier2bi">i. > 40 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2bii">ii. 35-39.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2biii"> iii. 30-34.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2biv"> iv. 27-29.9 kg/m<sup>2</sup></td>
                        </tr>

                        <tr>
                            <td rowspan="4" [class.table-info]="r.tier2c">c.</td>
                            <td rowspan="4" [class.table-info]="r.tier2c">Patients with at least <b>one
                                    weight-related condition </b></td>
                            <td rowspan="4" [class.table-info]="r.tier2c">and BMI</td>
                            <td [class.table-info]="r.tier2ci">i. > 40 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2cii">ii. 35-39.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2ciii"> iii. 30-34.9 kg/m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier2civ"> iv. 27-29.9 kg/m<sup>2</sup></td>
                        </tr>

                        <tr>
                            <td rowspan="3" [class.table-info]="r.tier3"><b>Tier 3</b> Patients with elevated BMI,
                                suggesting an increased risk for weight-related conditions, but without a
                                diagnosed weight-related condition</td>
                            <td rowspan="3" colspan="2" [class.table-info]="r.tier3"></td>
                            <td rowspan="3" colspan="1" [class.table-info]="r.tier3">and BMI</td>
                            <td [class.table-info]="r.tier3i">i. > 40 kg/m2</td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier3ii">ii. 35-39.9 kg/m2</td>
                        </tr>
                        <tr>
                            <td [class.table-info]="r.tier3iii">iii. 30-34.9 kg/m2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
